/* ProductComponent.css */

.searchBar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
 
}

.categoryBar {
  padding: 8px;
  margin-top: 8px;
  float: right;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 170px;
}


@media (min-width: 576px) {
  /* Small devices (576px and up) */
  .searchBar .categoryBar {
    overflow-x: hidden;
    width: auto; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center the navbar */
  }
}

@media (min-width: 768px) {
  /* Medium devices (768px and up) */
  .searchBar .categoryBar {
    overflow-x: hidden;
    width: auto; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center the navbar */
  }
}

@media (min-width: 992px) {
  /* Large devices (992px and up) */
  .searchBar .categoryBar {
    overflow-x: hidden;
    width: auto; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center the navbar */
  }
}

@media (min-width: 1200px) {
  /* Extra-large devices (1200px and up) */
  .searchBar .categoryBar {
    overflow-x: hidden;
    width: auto; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center the navbar */
  }
}
  