/* ProductComponent.css */

.searchBar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  width: 500px !important;
  margin-left: 20px;
}

.categoryBar {
  padding: 8px;
  margin-top: 8px;
  float: right;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 170px;
}
