@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
.signupform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Bagel Fat One', cursive;
    font-size: 20px;
}
.signupemail{
    width: 350px;
    height: auto;
    border-radius: 6px;
    border: 1px solid blanchedalmond;
    color: aliceblue;
    font-size: 17px;
    padding: 5px;
}
.signuppassword{
    width: 350px;
    height: auto;
    border-radius: 6px;
    border: 1px solid blanchedalmond;
    color: red;
    font-size: 17px;
    padding: 5px;
}
.signupsubmit{
    width: 100px;
    height: auto;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid blanchedalmond;
    padding: 7px;
}
.heading{
    font-size: 35px;
    color: blueviolet;
    text-align: center;
    font-family: 'Bagel Fat One', cursive;
}

@media screen and (max-width: 1000px) {
    .signupform {
      width: 80%;
      font-size: 16px;
      margin: 0 auto;
    }
  
    .signupemail,
    .signuppassword {
      width: 100%;
      font-size: 14px;
    }
  
    .signupsubmit {
      width: 100%;
      font-size: 14px;
    }
  
    .heading {
      font-size: 28px;
    }
  }
  
  /* For devices with screen width less than or equal to 400px (e.g., smartphones) */
  @media screen and (max-width: 400px) {
    .heading {
      font-size: 28px;
    }
  }