.addyourproductform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5%;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .addyourproductform > label {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
  }
  
  .prodhead {
    font-size: 24px;
    color: #ff6363;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .nameofproduct {
    height: 40px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #fff;
  }
  
  .addyourproductform > input[type='number'] {
    height: 40px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #fff;
  }
  
  .addyourproductform > input[type='text'] {
    height: 120px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    resize: none;
    background-color: #fff;
  }
  
  .submitprod {
    height: 40px;
    width: 150px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #ff6363;
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .submitprod:hover {
    background-color: #ff4646;
  }
  