.contactheader{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    color: chocolate;
}

.contactform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.queryemail{
    height: 30px;
    width: 250px;
    border-radius: 15px;
    background-color: azure;
    border: 2px solid transparent;
}
.queries{
    border-radius: 15px;
    background-color: azure;
    border: 2px solid transparent;
}
.querybtn{
    border-radius: 15px;
    background-color: azure;
    border: 2px solid orange;
    font-size: 20px;
}