.profileUserData{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: brown;
    font-size: 20px;
    height: 300px;
    width: auto;
}
.profileditage{
    margin-top: -10px;
}
.profileditmotto{
    margin-top: -10px;
}